



/*@import url("./monfee/wrap.css");
@import url("./monfee/headBox.css");
@import url("./monfee/adBox.css");
@import url("./monfee/bestNews.css");
@import url("./monfee/issue.css");
@import url("./monfee/ourMonfee.css");
@import url("./monfee/footBox.css");*/
/*@import url("../");*/




#wrap{width:100%; height:100%; background-color:#ccc;}

#headBox{width:100%; height:150px; box-sizing:border-box; padding:30px 100px 30px 240px; background-color:#ffa;}
h1{float:left; width:260px; height:92px; 
  background-image:url("../../img/header/logoh1.png");
  background-repeat:no-repeat;
  background-size:contain;}
#nvBox{float:right; width:800px;height:auto;}
#hdgnb{float:right; width:216px; height:34px;margin-bottom:10px;}
#hdgnb>ul>li{width:100%;height:100%;}
#hdgnb>ul>li>a{display:block; float:left; margin-right:34px; width:28px;height:34px;
               background-repeat:no-repeat;
               background-size:contain;}
#hdgnb>ul>li:nth-child(1)>a{background-image:url(../../img/header/Search.png);}
#hdgnb>ul>li:nth-child(2)>a{background-image:url(../../img/header/world-512.png);}
#hdgnb>ul>li:nth-child(3)>a{background-image:url(../../img/header/pin-1630707_960_720.png);}




#hdnav{box-sizing:border-box; padding:10px; float:right; width:800px; height:48px;}
#hdnav>ul>li{float:left; width:138px;height:48px; margin-right:20px;}
#hdnav>ul>li>a{display:block; width:100%; height:auto; float:left; font-size:20px; font-weight:bold; text-align:center; text-transform:capitalize;}
#hdnav>ul>li:nth-child(1){margin-left:54px; width:76px;height:auto; border:solid 2px #000;}
#hdnav>ul>li:last-child{margin-right:0;}



 
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#video{width:100%; height:1000px; background-color:#3a0;}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#heritage{width:100%; height:800px; box-sizing:border-box; padding:104px 342px 110px 468px; background-color:#2b2b2b;}
.heri{position:relative; width:1110px; height:388px;}
.heriBox{float:left; width:312px; height:218px;}
.heriBox>h2{margin-bottom:42px; width:312px; height:110px;
             background-image:url("../../img/heritage/logo copy.png");
             background-repeat:no-repeat;
             background-size:contain;}
.heriBox>p{width:286px; height:66px; font-weight:bold; font-size:30px; color:#fff;}
.heriSerach{position:absolute; left:74px; bottom:52px; width:312px; height:62px;
            background-image:url("../../img/heritage/SEARCH copy.png");
            background-repeat:no-repeat;
            background-size:contain;}
.heriM{float:right; width:774px;height:386px; background-image:url("../../img/heritage/Layer 2 copy.jpg");
                                 background-repeat:no-repeat;
                                 background-size:contain;}



 
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */                                 
#store{box-sizing:border-box; padding-top:42px; padding-bottom:57px; width:100%; height:1000px; background-color:#fff;}
.gender{margin:auto; width:784px; height:116px;}
.geBox_01{float:left; width:354px; height:114px; }
.stmen{float:left; margin-bottom:24px;width:354px; height:48px; background-color:#000;}
.stmen>a{display:block; width:100%; height:100%; line-height:48px; text-align:center; color:#fff; font-weight:bold; font-size:20px;}
.stmen_01{float:left; margin-left:72px; width:212px; height:44px; background-color:#fff; border:solid 1px #000;}
.stmen_01>a{display:block; width:100%; height:100%; line-height:44px; text-align:center;color:#000; font-weight:bold; font-size:20px;}

.geBox_02{float:right; width:354px; height:114px; }
.stwom{float:right; margin-bottom:24px; width:354px; height:48px; background-color:#000;}
.stwom>a{display:block; width:100%; height:100%; line-height:48px; text-align:center;color:#fff; font-weight:bold; font-size:20px;}
.stwom_01{float:left; margin-left:72px; width:212px; height:44px; background-color:#fff; border:solid 1px #000;}
.stwom_01>a{display:block; width:100%; height:100%; line-height:44px; text-align:center; color:#000; font-weight:bold; font-size:20px;}

.stBox{margin:auto; width:1190px; height:760px; background-color:#bbb;}
.stBox>ul{width:100%;height:100%;}
.stBox>ul>li{width:244px;height:372px; background-color:#000;}
/*---------------------------------*/
#stindi{position:relative; width:100%; height:auto;}
#stindi > .stindi_01{position:absolute; right:0; bottom:-24px; margin-right:266px;  width:130px; height:24px;
                    box-sizing:border-box; padding:1px;}
#stindi > .stindi_01>li{float:left; width:22px;height:22px; margin-right:4px;}
#stindi > .stindi_01>li:last-child{margin-right:0;}
#stindi > .stindi_01>li>a{display:block; width:100%; height:100%; border-radius:100%; background-color:#fff; border:solid 1px #000;}

#stindi > .stindi_01>li>a:hover, #adBox > .indicator>li>a:focus{background-color:#e60b11;}
#stindi > .stindi_01>li.select>a{background-color:#e60b11;}

/*--------------------------------*/
#collection{width:100%; height:700px; box-sizing:border-box; padding-top:242px; 
  background-image:url("../../img/collection/Layer 2 copy 2.png");
  background-repeat:no-repeat;
  background-size:cover;}
.coll{margin:auto; width:322px;height:180px;}
.coll>h3{margin-bottom:26px; width:270px; height:70px; color:#fff; font-size:34px; border:solid 2px #fff;}
.coll>h3>a{display:block; width:100%; height:100%; color:#fff; text-align:center; line-height:70px;}
.coll>p{width:322px; height:86px; color:#fff; font-size:20px; font-weight:bold}


#magazine{box-sizing:border-box; padding-top:126px; padding-bottom:58px; width:100%; height:900px; background-color:#ca0;}
#magazine>h3{display:block; font-size:52px; text-align:center; margin-bottom:110px;}
#magazine>ul{width:100%;height:auto;}

#magazine>ul>li>a{display:block; width:100%; height:100%;}
.magaBox_01{width:358px;height:426px;}
.maga_01{margin:auto; width:1572px; height:426px; background-color:#000;}
.maga_img{width:358px;height:342px; background-color:#fff;}

#magazine>ul dl{box-sizing:border-box; padding:0 25px 20px; width:100%; height:auto; background-color:#ab0;}
#magazine>ul dt{width:100%;height:auto; font-size:1.875rem; margin-bottom:5px; text-transform:capitalize; font-weight:bold;}
#magazine>ul dd{width:100%;height:auto; font-size:0.875rem; line-height:120%;}




/*magaindicator-----------------------------*/
#magaindi{position:relative; width:100%; height:auto;}
#magaindi > .magaindi_01{position:absolute; right:0; bottom:-56px; margin-right:266px;  width:130px; height:24px;
                    box-sizing:border-box; padding:1px;}
#magaindi > .magaindi_01>li{float:left; width:22px;height:22px; margin-right:4px;}
#magaindi > .magaindi_01>li:last-child{margin-right:0;}
#magaindi > .magaindi_01>li>a{display:block; width:100%; height:100%; border-radius:100%; border:solid 1px #000; background-color:#fff;}

#magaindi > .magaindi_01>li>a:hover, #adBox > .indicator>li>a:focus{background-color:#e60b11;}
#magaindi > .magaindi_01>li.select>a{background-color:#e60b11;}



#footBox{width:100%; height:450px; background-color:#000;}
.footBox_01{ float:left; box-sizing:border-box; padding:226px 0px 70px 216px;width:1020px; height:450px;}
.footBox_01>h2{float:left; width:334px;height:100px;
              background-image:url("../../img/footter/ftlogo.png");
              background-repeat:no-repeat;
              background-size:contain;}
.svi_01{margin-left:104px; float:left; width:auto;height:auto;}
.svi_01>ul{float:left; width:148px;height:94px;}
.svi_01>ul>li{ width:148px;height:auto;  text-align:center;}
.svi_01>ul>li>a{width:100%;height:100%;color:#fff;}
.svi_01>ul>li:first-child{font-size:18px; font-weight:bold; margin-bottom:22px}



.svi_02{margin-left:34px; float:left; width:auto;height:auto;}
.svi_02>ul{float:left; width:180px;height:195px;}
.svi_02>ul>li{ width:auto;height:auto;  text-align:center;}
.svi_02>ul>li>a{width:100%;height:100%;color:#fff;}
.svi_02>ul>li:first-child{font-size:18px; font-weight:bold; margin-bottom:22px}


.ftsearch{float:right; width:728px;height:450px;
          box-sizing:border-box; padding-top:226px;
          background-image:url("../../img/footter/word.png");
          background-repeat:no-repeat;
          background-size:contain;}
.ftsearch_01{margin:auto; width:294px;height:100px;
                      background-image:url(../../img/footter/serach2.png);
                      background-repeat:no-repeat;
                      background-size:contain;}












  #footBox{box-sizing:border-box;width:100%; height:23.4375vw;background-color:#000; padding-top:3.882783882783883vw; }
.footBox_01{float:left; width:50%; height:auto; box-sizing:border-box; padding-left:6.593406593406593vw; padding-top:}

.footBox_01>h2{width:100%;height:6.080586080586081vw;margin-bottom:1.465201465201465vw;
              background-image:url("../../../img/footter/ftlogo.png");
              background-repeat:no-repeat;
              background-size:contain;}
.svi_01{float:left; width:auto;height:auto; }
.svi_01>h4>a{color:#fff; float:left;width:auto;height:auto; font-size:1.2rem; font-weight:bold;}
.svi_01>ul{float:left; width:100%; height:auto; margin-bottom:10px;}
.svi_01>ul>li{float:left;width:auto; height:auto;}
.svi_01>ul>li>a{width:100%;height:100%;color:#fff;}



.svi_02{float:left; width:100%;height:auto;}
.svi_02>ul{float:left; width:100%;height:auto;}
.svi_02>h4>a{ color:#fff; float:left;width:auto;height:auto; font-size:1.2rem; font-weight:bold;}
.svi_02>ul>li{float:left; width:auto;height:auto; }
.svi_02>ul>li>a{width:100%;height:100%;color:#fff;}
/*.svi_02>ul>li:last-child{margin-top:10px;}*/
.svi_02>p{margin-top:15px; float:left; color:#fff;}


.ftsearch{float:right; width:50%;height:100%;
          box-sizing:border-box; padding-top:13.80208333333333vw;
          background-image:url("../../../img/footter/word.png");
          background-repeat:no-repeat;
          background-size:contain;
          background-position:center;}
.ftsearch_01{margin:auto; width:19.79166666666667vw;height:4.947916666666667vw;
                      background-image:url(../../../img/footter/serach2.png);
                      background-repeat:no-repeat;
                      background-size:contain;
                      background-position:center;}

























  #msearch{width:100%; height:83.75vw;/*402/480/100*/
            box-sizing:border-box; padding-top:56.25vw; padding-left:29.16666666666667vw;
            background-image:url("../../../img/footter/Mser.png");
            background-size:contain;
            background-position:center;}
  .msego{width:42.5vw;height:18.75vw;
        background-image:url("../../../img/footter/ccz 2.png");
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;}
  .msego>a{display:block; font-weight:bold; text-align:center; line-height:110px;}

  #footBox{box-sizing:border-box; padding-top:12.916666vw; padding-left:15.416666vw; width:100%; height:41.66666vw; background-color:#000;}
  .footBox_01{width:68.75vw;/*330px*/ height:15.416666vw;/*74px;*/
              background-image:url(../../../img/footter/ftlogo.png);
              background-repeat:no-repeat;
              background-size:contain;
              background-position:center;}



  #svi_01{box-sizing:border-box; width:100%;height:41.66666vw;/*200/480/100*/ padding:75px;background-color:#ccc;}
  #svi_02{box-sizing:border-box; width:100%;height:41.66666vw;/*200/480/100*/ padding:75px;background-color:#ccc;}
  .MM_01{width:100%;height:auto;}
  .MM_01>p>a{float:left; display:block; font-weight:bold;color:#fff; font-size:25px; margin-left:35%;}
  .MM_01>.MMs_01>a{display:block; float:right; width:11.45833333333333vw; height:8.75vw;; 
                background-image:url("../../../img/footter/down-arrow.png");
                background-repeat:no-repeat;
                background-size:contain;
                background-position:center;}
  .MM_02{width:100%;height:auto;}
  .MM_02>p>a{float:left; display:block; font-weight:bold;color:#fff; font-size:25px; margin-left:35%;}
  .MM_02>.MMs_02>a{display:block; float:right; width:11.45833333333333vw; height:8.75vw; 
                background-image:url("../../../img/footter/down-arrow.png");
                background-repeat:no-repeat;
                background-size:contain;
                background-position:center;}

  #svi_01>ul{display:none;}
  #svi_02>ul{display:none;}