 /*mobile*/ 

/*html,body{height: 100%;}
#wrap{height: 100%;}
#video{height: 100%;}*/ 

#wrap{width:100%; height:100%; /*background-color:#ccc;*/}
/*#headBox{position: fixed; top: 0; left: 0; z-index: 1000; width:100%; background-color:#ffa;}*/




@media screen and (max-width:480px) {
  #hdnav{display:none;}
  #headBox{ padding-top: 6.25vw; padding-bottom: 6.25vw;  height:60px; background-color:rgba(0,0,0,0.5);}
  .headBox_wrap{margin: auto; width:85%; max-width:348px; min-width:280px; height: 100%;}
  h1{width: 100px; height: 100%; float:left;/* background-color: #0af;*/
    background-image:url("../../img/header/logoh1.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;}
  #nvBox{float: right; width: 60px; height:60px;
        background-image:url("../../img/header/Mmenu.png");
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;}
/*--------------------------------------------------*/
#divide_01{width:100%; height:510px; background-color:#ccc; box-sizing:border-box; padding:15px 25px; border-bottom:solid 5px #000;}
#mainBox{width:100%; height:auto;}
#mainBox>h2{width:100%;height:30px;  /*line-height:70px;*/ margin-bottom:10px;}
#mainBox>p{width:100%;height:22px; color:#fff; margin-bottom:15px; }
.mainimg{margin-left:60px;width:360px; height:360px; background-color:#f00; }
#iconBox{float:right;  width:150px;height:auto;}
#iconBox>ul{ width:100%;height:auto; margin-top:10px;}
#iconBox>ul>li{float:left; width:26px;height:26px; margin-right:10px; background-color:#fff;}
#iconBox>ul>li:last-of-type{margin-right:0;}


#divide_02{width:100%;height:auto; box-sizing:border-box; padding:40px 48px 20px 55px; border-bottom:solid 5px #000;}
#divide_02>dl{width:100%;height:auto;}
#divide_02>dl>dt{width:auto;height:60px; margin-bottom:30px;}
#divide_02>dl>dt>dd{width:100%;height:405px;}



#divide_03{width:100%;height:auto; box-sizing:border-box; padding:20px 90px 0px 90px;}
#subBox{width:100%;height:auto;}
#subBox>h3{width:272px;height:34px; background-color:#000; color:#fff; line-height:34px; text-align:center; font-weight:bold; margin-bottom:32px}
.igBox{width:100%;height:auto;}
  .igBox>ul{float:left; /*box-sizing:border-box; padding:2.083333333333333vw 10.15625vw 0px 10.15625vw; */width:auto; height:auto; }
  .igBox>ul>li{float:left; margin-right:30px;/* margin-bottom:2.1875vw; */width:300px; height:auto;/* box-sizing:border-box;
    padding:0px 20px 0px 40px;*/ }
  .igBox>ul>.mainS_03{margin-right:0;}
  .igBox>ul>li>a{display:block; width:100%; height:100%;}
  .igBox>ul>li>a>.mainS_img{position:relative;border:solid 1px #000;
                            /*margin-bottom:1.041666666666667vw;*/ width:300px; height:300px;
                            background-size:contain;
                            background-repeat:no-repeat;
                            background-position:center;
                            }


.igBox>ul>li>a>.mainS_img:after{content:" "; display:block; position:absolute; width:100%; height:100%;
                                  background-image:url("../../img/header/logoh1.png");
                                  background-position:center; background-repeat:no-repeat;
                                  background-color:rgba(255,70,0,0.7); color:#fff;
                                  /*font-size:1.3rem; text-align:center; line-height:350px; font-weight:bold;*/
                                  opacity:0; transition:all 300ms ease-out;}
.igBox>ul>li>a:hover,
.igBox>ul>li>a:focus{text-decoration:none; color:#333;}


.igBox>ul>li>a:hover>.mainS_img:after,
.igBox>ul>li>a:focus>.mainS_img:after{opacity:1;  /*background-position:center -35px;*/}

.igBox>ul dl{box-sizing:border-box; /*padding:0 25px 20px; */width:100%; height:auto;}
.igBox>ul dt{width:100%;height:auto; font-size:0.875rem; margin-bottom:5px; text-transform:capitalize; font-weight:bold; color:#f00}
.igBox>ul dd{width:100%;height:auto; font-size:0.875rem; /*line-height:120%;*/}


#subBoxindi{width:100%; height:auto; margin:34px 70px;}
#subBoxindi > .subBoxindi_01{width:100%;height:auto;}
#subBoxindi > .subBoxindi_01>li{float:left; width:22px;height:22px; margin-right:49px;}
#subBoxindi > .subBoxindi_01>li:last-child{margin-right:0;}
#subBoxindi > .subBoxindi_01>li>a{display:block; width:100%; height:100%; border-radius:100%; background-color:#fff; border:solid 1px #000;}

#subBoxindi > .subBoxindi_01>li.active>a,
#subBoxindi > .subBoxindi_01>li>a:hover, #adBox > .indicator>li>a:focus{background-color:#e60b11;}
#subBoxindi > .subBoxindi_01>li.select>a{background-color:#e60b11;}
 



.mainS_02,.mainS_03{display:none;}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  #heritage{box-sizing:border-box;padding-top:155px; padding-left:24px;  width:100%; height:83.333333vw; min-height: 300px;
            background-image:url("../../img/heritage/Mheritage.png");
            background-repeat:no-repeat;
            background-size:cover;
            background-position:center;}
      .heri{position:relative;width:100%; height:100%;}
      .heriBox{float:left; width:36.666666vw; height:18.75vw;}
      .heriBox>p{font-weight:bold; font-size:20px; color:#000;}
      .heriSerach{position:absolute; width:31.666666vw; height:6.25vw; left:50%; bottom:70%;
                  background-image:url("../../img/heritage/SEARCH copy.png");
                  background-repeat:no-repeat;
                  background-size:contain;}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */                   
  #collection{box-sizing:border-box; width:100%; height:83.75vw;/*402/480/100*/ padding-top:38.75vw; padding-left:16.875vw;
              background-image:url("../../img/collection/Layer 2 copy 2.png");
              background-repeat:no-repeat; background-size:cover;
              background-position:center;}
.coll{width:100%;height:auto;}
.coll>h3{width:32.5vw; height:9.583333333333333vw; color:#fff; font-size:18px; border:solid 3px #fff;}
.coll>h3>a{display:block; width:100%; height:100%; color:#fff; text-align:center; line-height:8.333333333333333vw;}
.coll>p{display:none;}
/*--------------------------------------------------------*/

  #Mfmenu_01{box-sizing:border-box; width:100%;height:41.66666vw;/*200/480/100*/ padding:75px;background-color:#ccc;}
  #Mfmenu_02{box-sizing:border-box; width:100%;height:41.66666vw;/*200/480/100*/ padding:75px;background-color:#ccc;}
  .MM_01{width:100%;height:auto;}
  .MM_01>p>a{float:left; display:block; font-weight:bold;color:#fff; font-size:25px; margin-left:35%;}
  .MM_01>.MMs_01>a{display:block; float:right; width:11.45833333333333vw; height:8.75vw; 
                background-image:url("../../img/footter/down-arrow.png");
                background-repeat:no-repeat;
                background-size:contain;
                background-position:center;}
  .MM_02{width:100%;height:auto;}
  .MM_02>p>a{float:left; display:block; font-weight:bold;color:#fff; font-size:25px; margin-left:35%;}
  .MM_02>.MMs_02>a{display:block; float:right; width:11.45833333333333vw; height:8.75vw; 
                background-image:url("../../img/footter/down-arrow.png");
                background-repeat:no-repeat;
                background-size:contain;
                background-position:center;}

#footBox{width:100%; height:auto;  box-sizing:border-box;}
#footBox>p{background-color:#000; color:#fff;}
.footBox_01{width:100%; height:auto; background-color:#000;}

.footBox_01>h2{width:72.5vw;height:16.66666666666667vw; margin:auto; padding:3rem 0;
              background-image:url("../../img/footter/ftlogo.png");
              background-repeat:no-repeat;
              background-size:contain;
              background-position:center;}
.svi_01{width:100%;height:auto; background-color:#fff; }
.svi_01>h4{display:block; width:100%; height:41.66666666666667vw; background-color:#000;}
.svi_01>h4>a{display:block; color:#fff; font-weight:bold; text-align:center; font-size:8.333333333333333vw;box-sizing:border-box; padding-top:15.625vw;}
.svi_01>ul{display:none; float:left; width:100%; height:auto; margin-bottom:10px;}
.svi_01>ul>li{float:left;width:auto; height:auto;}
.svi_01>ul>li>a{width:100%;height:100%;color:#fff;}



.svi_02{width:100%;height:auto; background-color:#fff;}
.svi_02>h4{display:block; width:100%; height:41.66666666666667vw; background-color:#000; }
.svi_02>h4>a{display:block; color:#fff; font-weight:bold; text-align:center;font-size:8.333333333333333vw;box-sizing:border-box; padding-top:15.625vw; }
.svi_02>ul{display:none; float:left; width:100%;height:auto;}
.svi_02>ul>li{display:none; float:left; width:auto;height:auto; }
.svi_02>ul>li>a{width:100%;height:100%;color:#fff;}
/*.svi_02>ul>li:last-child{margin-top:10px;}*/
.svi_02>p{display:none; margin-top:3.125vw; float:left; color:#fff;}


.ftsearch{width:100%;height:83.33333333333333vw; background-color:#000;
          box-sizing:border-box; padding-top:13.80208333333333vw;
          background-image:url("../../img/footter/word.png");
          background-repeat:no-repeat;
          background-size:contain;
          background-position:center;}
.ftsearch_01{margin:auto; width:19.79166666666667vw;height:4.947916666666667vw;
                      background-image:url(../../img/footter/serach2.png);
                      background-repeat:no-repeat;
                      background-size:contain;
                      background-position:center;}

  #magazine{display:none;}
}


/*table*/ 
@media screen and (min-width:481px) and (max-width:768px) {
   #headBox{  padding-top: 40px; padding-bottom: 20px; height:75px; background-color:rgba(0,0,0,0.5);}
  .headBox_wrap{margin: auto; width:94%; height: 100%; }
  h1{width:24.08854166666667vw; height: 100%; /*height:9.765625vw; *//* 75/768*100*/ float:left;  
    background-image:url("../../img/header/logoh1.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;}
#nvBox{float:right; width:63.802083vw;/*490/768/100*/height:auto;}
#hdgnb{float:right; width:17.447916vw;/*134/768/100*/ height:3.385416vw;/*26px/768/100*/ margin-bottom:2.864583vw;}
#hdgnb>ul>li{width:100%;height:100%;}
#hdgnb>ul>li>a{display:block; float:left; margin-right:3.90625vw;/*30*/ width:2.864583vw; height:3.385416vw;
               background-repeat:no-repeat;
               background-size:contain;
              background-position:center;}
#hdgnb>ul>li:nth-child(1)>a{background-image:url(../../img/header/Search.png);}
#hdgnb>ul>li:nth-child(2)>a{background-image:url(../../img/header/world-512.png);}
#hdgnb>ul>li:nth-child(3)>a{background-image:url(../../img/header/pin-1630707_960_720.png);}
#hdgnb>ul>li:nth-child(3)>a:last-child{margin-right:0;}




#hdnav{box-sizing:border-box; padding:1.302083vw; float:right; width:100%; height:auto;}
#hdnav>ul>li{float:left; width:8.203125vw;height:6.25vw; margin-right:2.604166vw;}
#hdnav>ul>li>a{display:block; width:100%; height:auto; float:left; font-size:2.34375vw; font-weight:bold; text-align:center; text-transform:capitalize;}
#hdnav>ul>li:nth-child(1){margin-left:7.03125vw; width:9.895833vw;height:auto; border:solid 2px #000; background-color:#fff;}
#hdnav>ul>li:last-child{margin-right:0;}


/*-----------------------------------------------------------*/
#divide_01{width:100%; height:910px; background-color:#ccc; box-sizing:border-box; padding:30px 65px 0px 65px; border-bottom:solid 5px #000;}
#mainBox{width:640px; height:815px;}
#mainBox>h2{width:100%;height:50px;  /*line-height:70px;*/ margin-bottom:10px;}
#mainBox>p{width:120px;height:20px; color:#fff; text-align:center; margin-bottom:70px;}
.mainimg{ width:100%; height:645px; background-color:#f00; }
#iconBox{float:right;  width:150px;height:auto;}
#iconBox>ul{ width:100%;height:auto;}
#iconBox>ul>li{float:left; width:30px;height:30px; margin-right:10px; background-color:#fff;}
#iconBox>ul>li:last-of-type{margin-right:0;}


#divide_02{width:100%;height:auto; box-sizing:border-box; padding:40px 48px 20px 55px; border-bottom:solid 5px #000;}
#divide_02>dl{width:100%;height:auto;}
#divide_02>dl>dt{width:auto;height:60px; margin-bottom:30px;}
#divide_02>dl>dt>dd{width:100%;height:405px;}



#divide_03{width:100%;height:auto; box-sizing:border-box; padding:56px 200px 0px 200px;}
#subBox{width:100%;height:auto;}
#subBox>h3{width:275px;height:45px; background-color:#000; color:#fff; line-height:45px; text-align:center; font-weight:bold; margin-bottom:88px}
.igBox{width:100%;height:auto;}
  .igBox>ul{float:left; /*box-sizing:border-box; padding:2.083333333333333vw 10.15625vw 0px 10.15625vw; */width:auto; height:auto; }
  .igBox>ul>li{float:left; margin-right:30px;/* margin-bottom:2.1875vw; */width:355px; height:auto;/* box-sizing:border-box;
    padding:0px 20px 0px 40px;*/ }
  .igBox>ul>.mainS_03{margin-right:0;}
  .igBox>ul>li>a{display:block; width:100%; height:100%;}
  .igBox>ul>li>a>.mainS_img{position:relative;border:solid 1px #000;
                            /*margin-bottom:1.041666666666667vw;*/ width:355px; height:355px;
                            background-size:contain;
                            background-repeat:no-repeat;
                            background-position:center;
                            }


.igBox>ul>li>a>.mainS_img:after{content:" "; display:block; position:absolute; width:100%; height:100%;
                                  background-image:url("../../img/header/logoh1.png");
                                  background-position:center; background-repeat:no-repeat;
                                  background-color:rgba(255,70,0,0.7); color:#fff;
                                  /*font-size:1.3rem; text-align:center; line-height:350px; font-weight:bold;*/
                                  opacity:0; transition:all 300ms ease-out;}
.igBox>ul>li>a:hover,
.igBox>ul>li>a:focus{text-decoration:none; color:#333;}


.igBox>ul>li>a:hover>.mainS_img:after,
.igBox>ul>li>a:focus>.mainS_img:after{opacity:1;  /*background-position:center -35px;*/}

.igBox>ul dl{box-sizing:border-box; /*padding:0 25px 20px; */width:100%; height:auto;}
.igBox>ul dt{width:100%;height:auto; font-size:0.875rem; margin-bottom:5px; text-transform:capitalize; font-weight:bold; color:#f00}
.igBox>ul dd{width:100%;height:auto; font-size:0.875rem; /*line-height:120%;*/}


#subBoxindi{width:100%; height:auto; margin:60px 95px;}
#subBoxindi > .subBoxindi_01{width:100%;height:auto;}
#subBoxindi > .subBoxindi_01>li{float:left; width:22px;height:22px; margin-right:49px;}
#subBoxindi > .subBoxindi_01>li:last-child{margin-right:0;}
#subBoxindi > .subBoxindi_01>li>a{display:block; width:100%; height:100%; border-radius:100%; background-color:#fff; border:solid 1px #000;}

#subBoxindi > .subBoxindi_01>li.active>a,
#subBoxindi > .subBoxindi_01>li>a:hover, #adBox > .indicator>li>a:focus{background-color:#e60b11;}
#subBoxindi > .subBoxindi_01>li.select>a{background-color:#e60b11;}
 



.mainS_02,.mainS_03{display:none;}
/*.mainS_01 .mainS_img {background-image:url("../../img/store/men1/wc1.png");}*/




/*.mainS_01 .mainS_img {background-image:url("../../img/store/men1/wc1.png");}*/


 #footBox{width:100%; height:350px; /*250/768*100*/padding-top:3.90625vw; padding-bottom:3.255208333333333vw;  background-color:#000; }
.footBox_01{float:left; width:50%; height:auto; box-sizing:border-box; padding-left:40px;}
.footBox_01>h2{width:100%;height:4.947916666666667vw; margin-bottom:10px;
              background-image:url("../../img/footter/ftlogo.png");
              background-repeat:no-repeat;
              background-size:contain;
              background-position:center;}
.svi_01{float:left; width:auto;height:auto; }
.svi_01>h4>a{color:#fff; float:left;width:auto;height:auto; font-size:16px; font-weight:bold;}
.svi_01>ul{float:left; width:100%; height:auto; margin-bottom:10px;}
.svi_01>ul>li{float:left;width:auto; height:auto;}
.svi_01>ul>li>a{width:100%;height:100%;color:#fff;}



.svi_02{float:left; width:100%;height:auto;}
.svi_02>ul{float:left; width:100%;height:auto;}
.svi_02>h4>a{ color:#fff; float:left;width:auto;height:auto; font-size:16px; font-weight:bold;}
.svi_02>ul>li{float:left; width:auto;height:auto; }
.svi_02>ul>li>a{width:100%;height:100%;color:#fff;}
/*.svi_02>ul>li:last-child{margin-top:10px;}*/
.svi_02>p{float:left; color:#fff; margin-top:10px;}


.ftsearch{float:right; width:50%;height:100%;
          box-sizing:border-box; padding-top:13.80208333333333vw;
          background-image:url("../../img/footter/word.png");
          background-repeat:no-repeat;
          background-size:contain;
          background-position:center;}
.ftsearch_01{margin:auto; width:19.79166666666667vw;height:4.947916666666667vw;
                      background-image:url(../../img/footter/serach2.png);
                      background-repeat:no-repeat;
                      background-size:contain;}



#heritage,#collection,#Mfmenu_01,#Mfmenu_02{display:none;}
 }


/*pc*/
@media screen and (min-width:769px) and (max-width:1365px) {
   #headBox{ padding-top: 30px; padding-bottom: 30px; height:90px; background-color:rgba(0,0,100,0.5);}
   .headBox_wrap{margin: auto; width:94%; height: 100%;}
     h1{width:13.553113vw; height: 100%; float:left;
        background-image:url("../../img/header/logoh1.png");
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;}
#nvBox{float:right; width:71.428571vw;height:auto;}
#hdgnb{float:right; width:14.652014vw; height:auto; margin-bottom:2.197802vw;}
#hdgnb>ul>li{width:100%;height:100%;}
#hdgnb>ul>li>a{display:block; float:left; margin-right:3.956043vw; width:2.051282vw; height:2.197802vw;
               background-repeat:no-repeat;
               background-size:contain;
               background-position:center;}
#hdgnb>ul>li:nth-child(1)>a{background-image:url("../../img/header/Search.png");}
#hdgnb>ul>li:nth-child(2)>a{background-image:url("../../img/header/world-512.png");}
#hdgnb>ul>li:nth-child(3)>a{background-image:url("../../img/header/pin-1630707_960_720.png");}
#hdgnb>ul>li:nth-child(3)>a:last-child{margin-right:0;}




#hdnav{float:right; width:100%; height:auto;}
#hdnav>ul>li{float:left; width:6.59340vw;height:2.197802vw; margin-right:2.344322vw;}
#hdnav>ul>li>a{display:block; width:100%; height:auto; float:left; font-size:18px; font-weight:bold; text-align:center; text-transform:capitalize;}
#hdnav>ul>li:nth-child(1){margin-left:28.57142vw; width:6.59340vw;height:2.197802vw; border:solid 2px #000; background-color:#fff;}
#hdnav>ul>li:last-child{margin-right:0;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#divide_01{width:100%; height:910px; background-color:#ccc; box-sizing:border-box; padding-top:10px; padding-left:310px; border-bottom:solid 5px #000;}
#mainBox{width:750px; height:810px;}
#mainBox>h2{width:100%;height:50px;  /*line-height:70px;*/ margin-bottom:15px;}
#mainBox>p{width:145px;height:25px; color:#fff; text-align:center; margin-bottom:30px;}
.mainimg{ width:100%; height:690px;}
#iconBox{float:right;  width:350px;height:auto; margin-top:10px}
#iconBox>ul{ width:100%;height:auto;}
#iconBox>ul>li{float:left; width:52px;height:52px; margin-right:18px; background-color:#fff;}
#iconBox>ul>li:last-of-type{margin-right:0;}


#divide_02{width:100%;height:auto; box-sizing:border-box; padding:30px; border-bottom:solid 5px #000;}
#divide_02>dl{width:100%;height:auto;}
#divide_02>dl>dt{width:auto;height:50px; margin-bottom:30px;}
#divide_02>dl>dt>dd{width:100%;height:230px;}



#divide_03{width:100%;height:100%; box-sizing:border-box; padding:56px 200px 50px 200px;}
#subBox{width:100%;height:auto;}
#subBox>h3{width:342px;height:52px; background-color:#000; color:#fff; line-height:62px; text-align:center; font-weight:bold; margin-bottom:88px}
  .igBox>ul{float:left; /*box-sizing:border-box; padding:2.083333333333333vw 10.15625vw 0px 10.15625vw; */width:auto; height:auto; }
  .igBox>ul>li{float:left; margin-right:30px;/* margin-bottom:2.1875vw; */width:300px; height:300px;/* box-sizing:border-box;
    padding:0px 20px 0px 40px;*/ }
  .igBox>ul>.mainS_03{margin-right:0;}
  .igBox>ul>li>a{display:block; width:100%; height:100%;}
  .igBox>ul>li>a>.mainS_img{position:relative;border:solid 1px #000;
                            /*margin-bottom:1.041666666666667vw;*/ width:300px; height:300px;
                            background-size:contain;
                            background-repeat:no-repeat;
                            background-position:center;
                            }


.igBox>ul>li>a>.mainS_img:after{content:" "; display:block; position:absolute; width:100%; height:100%;
                                  background-image:url("../../img/header/logoh1.png");
                                  background-position:center; background-repeat:no-repeat;
                                  background-color:rgba(255,70,0,0.7); color:#fff;
                                  /*font-size:1.3rem; text-align:center; line-height:350px; font-weight:bold;*/
                                  opacity:0; transition:all 300ms ease-out;}
.igBox>ul>li>a:hover,
.igBox>ul>li>a:focus{text-decoration:none; color:#333;}


.igBox>ul>li>a:hover>.mainS_img:after,
.igBox>ul>li>a:focus>.mainS_img:after{opacity:1;  /*background-position:center -35px;*/}

.igBox>ul dl{box-sizing:border-box; /*padding:0 25px 20px; */width:100%; height:auto;}
.igBox>ul dt{width:100%;height:auto; font-size:0.875rem; margin-bottom:5px; text-transform:capitalize; font-weight:bold; color:#f00}
.igBox>ul dd{width:100%;height:auto; font-size:0.875rem; /*line-height:120%;*/}

/*.mainS_01 .mainS_img {background-image:url("../../img/store/men1/wc1.png");}*/




  #footBox{width:100%; height:40.29304029304029vw;  background-color:#000; box-sizing:border-box; padding-top:3.882783882783883vw; padding-left:4.981684981684982vw; }
.footBox_01{float:left; width:50%; height:auto; box-sizing:border-box; padding-left:6.593406593406593vw;}

.footBox_01>h2{width:100%;height:6.080586080586081vw;margin-bottom:1.465201465201465vw;
              background-image:url("../../img/footter/ftlogo.png");
              background-repeat:no-repeat;
              background-size:contain;}
.svi_01{float:left; width:auto;height:auto; }
.svi_01>h4>a{color:#fff; float:left;width:auto;height:auto; font-size:1.2rem; font-weight:bold;}
.svi_01>ul{float:left; width:100%; height:auto; margin-bottom:10px;}
.svi_01>ul>li{float:left;width:auto; height:auto;}
.svi_01>ul>li>a{width:100%;height:100%;color:#fff;}



.svi_02{float:left; width:100%;height:auto;}
.svi_02>ul{float:left; width:100%;height:auto;}
.svi_02>h4>a{ color:#fff; float:left;width:auto;height:auto; font-size:1.2rem; font-weight:bold;}
.svi_02>ul>li{float:left; width:auto;height:auto; }
.svi_02>ul>li>a{width:100%;height:100%;color:#fff;}
/*.svi_02>ul>li:last-child{margin-top:10px;}*/
.svi_02>p{margin-top:15px; float:left; color:#fff;}


.ftsearch{float:right; width:50%;height:100%;
          box-sizing:border-box; padding-top:13.80208333333333vw;
          background-image:url("../../img/footter/word.png");
          background-repeat:no-repeat;
          background-size:contain;
          background-position:center;}
.ftsearch_01{margin:auto; width:19.79166666666667vw;height:4.947916666666667vw;
                      background-image:url(../../img/footter/serach2.png);
                      background-repeat:no-repeat;
                      background-size:contain;
                      background-position:center;}

#heritage,#collection,#Mfmenu_01,#Mfmenu_02{display:none;}
}



/*pcfull*/
@media screen and (min-width:1366px) {
  body{overflow-x: hidden;}
  #headBox{ padding-top: 30px; padding-bottom: 30px;  height:90px; background-color:rgba(0,0,0,0.5);}
  .headBox_wrap{margin: auto; width:80%; height: 100%;}
  h1{width:190px; height: 100%; float:left;
        background-image:url("../../img/header/tissotlogo_w.png");
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;} 
#nvBox{float:right; width:800px;height:auto;}
#hdgnb{float:right; width:216px; height:34px;margin-bottom:10px;}
#hdgnb>ul>li{width:100%;height:100%;}
#hdgnb>ul>li>a{display:block; float:left; margin-right:34px; width:28px;height:34px;
               background-repeat:no-repeat;
               background-size:contain;}
#hdgnb>ul>li:nth-child(1)>a{background-image:url("../../img/header/Search.png");}
#hdgnb>ul>li:nth-child(2)>a{background-image:url("../../img/header/world-512.png");}
#hdgnb>ul>li:nth-child(3)>a{background-image:url("../../img/header/pin-1630707_960_720.png");}




#hdnav{box-sizing:border-box; padding:10px; float:right; width:800px; height:48px;}
#hdnav>ul.all_ud{float: right;}
#hdnav>ul>li{float:left; width:103px;height:28px; margin-right:17px;}
#hdnav>ul>li>a{display:block; width:100%; height:100%; font-size:20px; font-weight:bold; text-align:center; text-transform:capitalize; color:#fff;}
#hdnav>ul>li:nth-child(1){ width:76px;height:auto; border:solid 2px #fff; color:#fff;}
#hdnav>ul>li:last-child{margin-right:0;}
#hdnav>ul>li>ol{display: none;
  box-sizing: border-box; padding:3rem 10vw;
  position: fixed; left: 0; top:120px; width: 100vw; height: 550px; background-color:rgba(0,0,0,0.7);}
#hdnav>ul>li>ol.active{display: block;}
#hdnav>ul>li>ol>li{box-sizing:border-box; padding: 1rem; height: 100%; float: left; background-clip:content-box; background-repeat:no-repeat; background-position:center; background-size:cover;}
#hdnav>ul>li:nth-child(1)>ol>li{width:25%;}
#hdnav>ul>li:nth-child(2)>ol>li{width:16%;}
#hdnav>ul>li>ol>li>a{display: block; width: 100%; height: 100%; color:#fff;font-size:2.5rem;
                     font-weight:bold; text-align:center; text-transform:capitalize;
                     background-color:rgba(0,0,0,0.5); line-height:calc(550px - 8rem);
                     transition: all 300ms ease;
                    }
 
#hdnav>ul>li:nth-child(1)>ol>li:nth-child(1){background-image:url("../../img/header/me1.png")}
#hdnav>ul>li:nth-child(1)>ol>li:nth-child(2){background-image:url("../../img/header/me4.png")}
#hdnav>ul>li:nth-child(1)>ol>li:nth-child(3){background-image:url("../../img/header/me5.png")}
#hdnav>ul>li:nth-child(1)>ol>li:nth-child(4){background-image:url("../../img/header/me2.png")}
/*.all_ud{width:1920px;height:600px; background-color:#af0;}*/
#hdnav>ul>li:nth-child(1)>ol>li>a:hover,
#hdnav>ul>li:nth-child(1)>ol>li>a:focus{background-color:rgba(0,0,0,0); text-shadow:0.7rem 0.7rem 0.7rem rgba(0,0,0,0.9);}






#hdnav>ul>li:nth-child(2)>ol>li:nth-child(1){background-image:url("../../img/header/me1.png")}
#hdnav>ul>li:nth-child(2)>ol>li:nth-child(2){background-image:url("../../img/header/me4.png")}
#hdnav>ul>li:nth-child(2)>ol>li:nth-child(3){background-image:url("../../img/header/me5.png")}
#hdnav>ul>li:nth-child(2)>ol>li:nth-child(4){background-image:url("../../img/header/me2.png")}
#hdnav>ul>li:nth-child(2)>ol>li:nth-child(5){background-image:url("../../img/header/me2.png")}
#hdnav>ul>li:nth-child(2)>ol>li>a:hover,
#hdnav>ul>li:nth-child(2)>ol>li>a:focus{background-color:rgba(0,0,0,0); text-shadow:0.7rem 0.7rem 0.7rem rgba(0,0,0,0.9);}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#divide_01{width:100%; height:1200px; box-sizing:border-box; padding-left:460px; border-bottom:solid 5px #000;}
#mainBox{width:1000px; height:1110px;}
#mainBox>h2{width:745px;height:70px;  line-height:70px;}
#mainBox>p{width:170px;height:41px; color:#f00; text-align:center;}
.mainimg{ width:100%; height:1000px;
          background-image:url("../../img/magazine/maga2/m.jpg");
          background-size:cover;
          background-repeat:no-repeat;
          background-position:center;}
#iconBox{float:right;  width:350px;height:auto;}
#iconBox>ul{ width:100%;height:auto;}
#iconBox>ul>li{float:left; width:60px;height:60px; margin-right:22px;
                background-repeat:no-repeat;
                background-size:contain;
                background-position:center;}
#iconBox>ul>li:nth-child(1){background-image:url("../../img/icon/facebook.png")}
#iconBox>ul>li:nth-child(2){background-image:url("../../img/icon/twitter.png")}
#iconBox>ul>li:nth-child(3){background-image:url("../../img/icon/instagram.png")}
#iconBox>ul>li:nth-child(4){background-image:url("../../img/icon/youtube.png")}
#iconBox>ul>li:last-of-type{margin-right:0;}


#divide_02{width:100%;height:auto; box-sizing:border-box; padding:100px 60px 136px 280px; border-bottom:solid 5px #000;}
#divide_02>dl{width:100%;height:auto;}
#divide_02>dl>dt{width:auto;height:50px; margin-bottom:30px;}
#divide_02>dl>dt>dd{width:100%;height:240px;}



#divide_03{width:100%;height:100%; box-sizing:border-box; padding:40px 270px 100px 280px;}
#subBox{width:100%;height:auto;}
#subBox>h3{width:490px;height:62px; background-color:#000; color:#fff; line-height:62px; text-align:center; font-weight:bold; margin-bottom:88px}
  .igBox>ul{float:left; /*box-sizing:border-box; padding:2.083333333333333vw 10.15625vw 0px 10.15625vw; */width:auto; height:auto; }
  .igBox>ul>li{float:left; margin-right:50px;/* margin-bottom:2.1875vw; */width:400px; height:410px;/* box-sizing:border-box;
    padding:0px 20px 0px 40px;*/ }
  .igBox>ul>li:nth-child(3n){margin-right:0;}
  .igBox>ul>li>a{display:block; width:100%; height:100%;}
  .igBox>ul>li>a>.mainS_img{position:relative;border:solid 1px #000;
                            /*margin-bottom:1.041666666666667vw;*/ width:400px; height:410px;
                            background-size:contain;
                            background-repeat:no-repeat;
                            background-position:center;
                            }
.igBox>ul>.mainS_01{background-image:url(../../img/magazine/magaimg/maga18.jpg)}
.igBox>ul>.mainS_02{background-image:url(../../img/magazine/magaimg/maga19.jpg)}
.igBox>ul>.mainS_03{background-image:url(../../img/magazine/magaimg/maga20.jpg)}

.igBox>ul>li>a>.mainS_img:after{content:" "; display:block; position:absolute; width:100%; height:100%;
                                  background-image:url("../../img/header/logoh1.png");
                                  background-position:center; background-repeat:no-repeat;
                                  background-color:rgba(255,70,0,0.7); color:#fff;
                                  /*font-size:1.3rem; text-align:center; line-height:350px; font-weight:bold;*/
                                  opacity:0; transition:all 300ms ease-out;}
.igBox>ul>li>a:hover,
.igBox>ul>li>a:focus{text-decoration:none; color:#333;}


.igBox>ul>li>a:hover>.mainS_img:after,
.igBox>ul>li>a:focus>.mainS_img:after{opacity:1;  /*background-position:center -35px;*/}

.igBox>ul dl{box-sizing:border-box; /*padding:0 25px 20px; */width:100%; height:auto;}
.igBox>ul dt{width:100%;height:auto; font-size:0.875rem; margin-bottom:5px; text-transform:capitalize; font-weight:bold; color:#f00}
.igBox>ul dd{width:100%;height:auto; font-size:0.875rem; /*line-height:120%;*/}

/*.mainS_01 .mainS_img {background-image:url("../../img/store/men1/wc1.png");}*/




  #footBox{box-sizing:border-box;width:100%; height:23.4375vw;background-color:#000; padding-top:3.882783882783883vw; }
.footBox_01{float:left; width:50%; height:auto; box-sizing:border-box; padding-left:6.593406593406593vw;}

.footBox_01>h2{width:30%;height:6.080586080586081vw;margin-bottom:10px;
              background-image:url("../../img/footter/ftlogo.png");
              background-repeat:no-repeat;
              background-size:contain;}
.svi_01{float:left; width:auto;height:auto; }
.svi_01>h4>a{color:#fff; float:left;width:auto;height:auto; font-size:1.2rem; font-weight:bold;}
.svi_01>ul{float:left; width:100%; height:auto; margin-bottom:10px;}
.svi_01>ul>li{float:left;width:auto; height:auto;}
.svi_01>ul>li>a{width:100%;height:100%;color:#fff;}



.svi_02{float:left; width:100%;height:auto;}
.svi_02>ul{float:left; width:100%;height:auto;}
.svi_02>h4>a{ color:#fff; float:left;width:auto;height:auto; font-size:1.2rem; font-weight:bold;}
.svi_02>ul>li{float:left; width:auto;height:auto; }
.svi_02>ul>li>a{width:100%;height:100%;color:#fff;}
/*.svi_02>ul>li:last-child{margin-top:10px;}*/
.svi_02>p{margin-top:15px; float:left; color:#fff;}


.ftsearch{float:right; width:50%;height:100%;
          box-sizing:border-box; padding-top:13.80208333333333vw;
          background-image:url("../../img/footter/word.png");
          background-repeat:no-repeat;
          background-size:contain;
          background-position:center;}
.ftsearch_01{margin:auto; width:19.79166666666667vw;height:4.947916666666667vw;
                      background-image:url(../../img/footter/serach2.png);
                      background-repeat:no-repeat;
                      background-size:contain;
                      background-position:center;}

#heritage,#collection,#Mfmenu_01,#Mfmenu_02{display:none;}
}

