@media screen and (min-width:1366px) {

  body{overflow-x: hidden;}
  #headBox{ padding-top: 30px; padding-bottom: 30px;  height:90px; background-color:rgba(0,0,0,0.5);}
  .headBox_wrap{margin: auto; width:80%; height: 100%;}
  h1{width:190px; height: 100%; float:left;
        background-image:url("../../../img/header/logoh1.png");
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;} 
#nvBox{float:right; width:800px;height:auto;}
#hdgnb{float:right; width:216px; height:34px;margin-bottom:10px;}
#hdgnb>ul>li{width:100%;height:100%;}
#hdgnb>ul>li>a{display:block; float:left; margin-right:34px; width:28px;height:34px;
               background-repeat:no-repeat;
               background-size:contain;}
#hdgnb>ul>li:nth-child(1)>a{background-image:url(../../../img/header/Search.png);}
#hdgnb>ul>li:nth-child(2)>a{background-image:url(../../../img/header/world-512.png);}
#hdgnb>ul>li:nth-child(3)>a{background-image:url(../../../img/header/pin-1630707_960_720.png);}




#hdnav{box-sizing:border-box; padding:10px; float:right; width:800px; height:48px;}
#hdnav>ul.all_ud{float: right;}
#hdnav>ul>li{float:left; width:103px;height:28px; margin-right:17px;}
#hdnav>ul>li>a{display:block; width:100%; height:auto; font-size:20px; font-weight:bold; text-align:center; text-transform:capitalize; color:#fff;}
#hdnav>ul>li:nth-child(1){ width:76px;height:auto; border:solid 2px #fff; color:#fff background-color:#fff;}
#hdnav>ul>li:last-child{margin-right:0;}
#hdnav>ul>li>ol{display: none;
  box-sizing: border-box; padding:3rem 10vw;
  position: fixed; left: 0; top:120px; width: 100vw; height: 550px; background-color:rgba(0,0,0,0.7);}
#hdnav>ul>li>ol.active{display: block;}
#hdnav>ul>li>ol>li{box-sizing:border-box; padding: 1rem; width: 25%; height: 100%; float: left;}
#hdnav>ul>li>ol>li>a{display: block; width: 100%; height: 100%; background-color: #fff;
                     background-repeat:no-repeat;
                     background-position:center;
                     background-size:cover;}

#hdnav>ul>li>ol>li:nth-child(1)>a{background-image:url("../../../img/header/me1.png")}
#hdnav>ul>li>ol>li:nth-child(2)>a{background-image:url("../../../img/header/me4.png")}
#hdnav>ul>li>ol>li:nth-child(3)>a{background-image:url("../../../img/header/me5.png")}
#hdnav>ul>li>ol>li:nth-child(4)>a{background-image:url("../../../img/header/me2.png")}
/*.all_ud{width:1920px;height:600px; background-color:#af0;}*/













  #fullVideo{position: relative; width:100%; height:100%; background-color:#fa0; overflow:hidden;}
  #fullVideo > video{
    position: absolute; top:50%; left:50%; 
    transform:translate(-50%,-50%);
    width:auto; height:auto; min-width:100%; min-height:100%;}
}